d-i console-keymaps-at/keymap select American English
d-i keyboard-configuration/xkb-keymap select us
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US
d-i console-tools/archs select at
d-i console-keymaps-at/keymap select American English
d-i debian-installer/keymap string us

d-i netcfg/enable boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/get_domain seen true
d-i hw-detect/load_firmware boolean false

d-i mirror/protocol string ftp
d-i mirror/ftp/hostname string ftp.ca.debian.org
d-i mirror/ftp/directory string /debian/
d-i mirror/ftp/proxy string
d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern
d-i clock-setup/ntp boolean true
#d-i preseed/run string 	run.sh
#d-i passwd/root-password password PASSWORD
#d-i passwd/root-password-again password PASSWORD
#d-i passwd/make-user boolean false
popularity-contest popularity-contest/participate boolean false
### Partitioning
d-i partman-auto/init_automatically_partition \
	select Guided - use entire disk and set up encrypted LVM
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string crypto
d-i partman-crypto/passphrase password librerouter
d-i partman-crypto/passphrase-again password librerouter
d-i partman-auto/purge_lvm_from_device boolean true

d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true    
d-i partman-auto/choose_recipe select boot-crypto
d-i partman-auto-lvm/new_vg_name string crypt
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish

#password root
passwd passwd/root-password password librerouter
passwd passwd/root-password-again password librerouter

# Crear un usuario con su contraseña
passwd passwd/user-fullname string librerouter
passwd passwd/username string librerouter
# password
passwd passwd/user-password password librerouter
passwd passwd/user-password-again password librerouter

d-i base-installecr/kernel/linux/initramfs-generators string initramfs-tools
#d-i base-installer/kernel/linux/initramfs-generators string yaird
#d-i base-installer/kernel/image linux-image-2.6-amd64
d-i base-installer/kernel/image string linux-generic
tasksel tasksel/first multiselect standard, desktop
#d-i pkgsel/include string ssh rsync initrd-tools cramfsprogs lzop
d-i apt-setup/use_mirror boolean false
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false
d-i grub-installer/bootdev  string /dev/sda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

d-i preseed/late_command string in-target apt-get install ntpdate;in-target apt-get install ntp; cp /cdrom/setup_iso.sh /target/root/setup_iso.sh;  chroot /target chmod +x /root/setup_iso.sh; in-target /bin/sh /root/setup_iso.sh; cp /cdrom/setup.service /target/etc/systemd/system/setup.service; chmod +x /target/etc/systemd/system/setup.service; chmod +x /target/etc/systemd/system/setup.service; in-target /bin/systemctl enable setup.service;

d-i finish-install/reboot_in_progress note<span style="font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px; white-space: normal;" class="Apple-style-span"> Esto es un mensaje</span>

